BasedOnStyle: LLVM
PointerAlignment: Left
TabWidth: 4
ColumnLimit: 120
UseTab: Never
IndentWidth: 4
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
AccessModifierOffset: -4
AlignOperands: true
AlignTrailingComments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowAllParametersOfDeclarationOnNextLine: true
SpaceBeforeAssignmentOperators: true
SpacesInContainerLiterals: true
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: true
SpaceAfterCStyleCast: true
SortIncludes: true